@charset "gb2312";
/*分页显示样式*/
#center {
	height: 25px;
	padding-top:15px;
	padding-bottom:10px;
	clear: left;
	text-align: center;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

#fenye {
	height: 25px;
	text-align: center;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

.fenyebut  {
	background-repeat: repeat-x;
	height: 20px;
	width: 69px;
	color: #c35fa4;
	font-size: 12px;
	margin-right: 7px;
	margin-left: 7px;
	border:1px solid #f0bfe1;
	background-image: url(../webimages/fy_but.jpg);
	background-position: left top;
	padding-top: 2px;
}

.button-style01{
	height: 18px;
	color: #C35FA4;
	font-size: 12px;
	margin-right: 3px;
	margin-left: 3px;
	border:1px solid #f3c3ff;
	background-color: #FFFFFF;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
}
.button-style02{
	background-repeat: repeat-x;
	background-position: left top;
	height: 18px;
	color: #c35fa4;
	font-size: 12px;
	margin-right: 3px;
	margin-left: 3px;
	border:1px solid #f3c3ff;
	background-color: #FFFFFF;
	padding-right: 3px;
	padding-left: 3px;
	background-image: url(../webimages/fy_but.jpg);
	padding-top: 1px;
}
a.button-style01,a.button-style02 {
	display:block;
	vertical-align:middle;
}
.fenyebutv {
	height: 18px;
	color: #c35fa4;
	font-size: 12px;
	margin-right: 3px;
	margin-left: 3px;
	border:1px solid #f0bfe1;
	padding-right: 4px;
	padding-left: 4px;
	background-image: url(../webimages/fenyevisi.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	
}
