/* CSS Document */
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 12px;
	border-color: #808080 #FFFFFF #FFFFFF #808080;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px
}
.borderoff,.borderon {
	font-size: 12px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	background-color: menu
}
.borderoff {
	border-color: #808080 #FFFFFF #FFFFFF #808080;
}
.borderon {
	border-color: #FFFFFF #808080 #808080 #FFFFFF;
}
.menu1,.menu2,.menu3,.menu4 {
	font-size: 9pt;
	background-repeat: no-repeat;
	height: 16px;
	padding-left: 15px;
	cursor: hand;
}
.menu1 {
	
}
.menu2 {
	
}
.menu3 {
	
}
.menu4{
	
}
.list{
	height: 16px;
	font-size: 9pt;
	padding-left: 20px;
	background-image: url(/som/images/treeimg/list1.gif);
	background-repeat: repeat-y;
}
.list1{
	height: 16px;
	font-size: 9pt;
	padding-left: 20px;
}
.file,.file1 {
	font-size: 12px;
	background-repeat: no-repeat;
	height: 16px;
	cursor: hand;
	padding-left: 15px;
}
.file{
}
.file1 {
}
a {
	font-size: 9pt;
	text-decoration: none;
}
a:link {
	color: #476884;
}
a:visited {
	color: #476884;
}
a:hover {
	color: #FF0000;
}
a:active {
	color: #476884;
}
.item {
	height:16px;
	border:1px solid #FFFFFF;
	padding-top:1px;
}
