.f12 {
  font-family: "宋体";
  font-size: 12px;
  line-height: 150%;
}

a {
  font-family: "宋体";
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  text-decoration: none;
  letter-spacing: 1pt;
}

a:hover {
  font-family: "宋体";
  font-size: 12px;
  line-height: 150%;
  color: #FF3300;
  text-decoration: underline;
  letter-spacing: 1pt;
}

.box {
  font-family: "宋体";
  font-size: 12px;
  color: #000000;
  background-color: #FFFFFF;
  height: 16px;
  width: 80px;
  border: 1px solid #CCCCCC;
}

.f12-333333 {
  font-family: "宋体";
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  letter-spacing: 1pt;
}

.more {
  font-family: "宋体";
  font-size: 12px;
  line-height: 150%;
  color: #FF9900;
  text-decoration: none;
  letter-spacing: 1pt;
  font-weight: bolder;
}

.more:hover {
  font-family: "宋体";
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  text-decoration: underline;
  letter-spacing: 1pt;
  font-weight: bolder;
}

.t {
  font-family: "宋体";
  font-size: 14px;
  line-height: 150%;
  font-weight: bolder;
  color: #000000;
  letter-spacing: 1pt;
}

.b {
  font-family: "宋体";
  font-size: 12px;
  line-height: 150%;
  color: #FF6600;
  text-decoration: underline;
  letter-spacing: 1pt;
}

.b:hover {
  font-family: "宋体";
  font-size: 12px;
  line-height: 150%;
  color: #FF3300;
  text-decoration: none;
  letter-spacing: 1pt;
}

.f12-333333Copy {
  font-family: "宋体";
  font-size: 12px;
  line-height: 150%;
  color: #333333;
}

.boder01 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
}

.boder02 {
  border: 1px solid #E4E4E4;
}

td.f12-blank {
  font-family: "宋体";
  font-size: 12px;
  line-height: 150%;
  color: #333333;
}

td {
  font-family: Times, sans-serif, Arial;
  font-size: 12px
}

body {
  font-family: Times, sans-serif, Arial;
  line-height: 125%;
  color: #333333;
}
.input {
	font-family: Verdana, Arial, 宋体;
	font-size: 9pt;
	color: #0560A6;
	border: #7F9DB9 1px solid;	
	height: 20px;
}
button
{
	font-family: Verdana, Arial, 宋体;
	font-size: 9pt;
	color: #0560A6;
	background-color: #fafafa;
	border: #7F9DB9 1px solid;
	height: 20px;
}
SELECT
{
	font-family: Verdana, Arial, 宋体;
	font-size: 9pt;
	color: #0560A6;
	border: #7F9DB9 1px solid;
	height: 20px;
}
TEXTAREA
{
	font-family: Verdana, Arial, 宋体;
	font-size: 9pt;
	color: #0560A6;
	border: #7F9DB9 1px solid;
}

