.head {
	font-family: "宋体";
	font-size: 24px;
	color: #1646C2;
	}
.end {
	font-family: "宋体";
	font-size: 12px;
	color: #7882FC;
}
.last {
	font-family: "宋体";
	font-size: 12px;
	color: #7882FC;
}
.main {
	font-family: "宋体";
	font-size: 14px;
	color: #1646C2;
}
.ziti {
	font-family: "宋体";
	font-size: 12px;
	color: #639FE9;
}
