P {
	FONT-FAMILY: arial
}
A {
	FONT-SIZE: 0.8em; COLOR: #000; FONT-FAMILY: arial
}
.tree {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.tree UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 20px
}
.tree LI {
	VERTICAL-ALIGN: middle; LIST-STYLE-TYPE: none
}
.tree LI A {
	PADDING-LEFT: 2px; FONT-SIZE: 0.8em; COLOR: #000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
