<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//E N"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/crjd?characterEncoding=gbk&amp;useUnicode=true&amp;autoReconnect=true"/>
		<property name="user" value="root"/>
		<property name="password" value="Yue@#$^ZHONGkeji$%^"/>
		<property name="maxPoolSize" value="100"/>
		<property name="minPoolSize" value="10"/>
		<property name="initialPoolSize" value="30"/>
		<property name="maxIdleTime" value="60"/>
		<property name="acquireIncrement"  value="10"/>    
		<property name="maxStatements"  value="0"/>    
		<property name="idleConnectionTestPeriod"  value="60"/>    
		<property name="testConnectionOnCheckout" value="false" />
		<property name="breakAfterAcquireFailure"  value="false"/>  
        <property name="acquireRetryAttempts" value="30"/>
        <property name="acquireRetryDelay" value="1000"/>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>
					crjd/model/admin/system/user/UserInfo.hbm.xml
				</value>
				<value>
					crjd/model/admin/system/department/Department.hbm.xml
				</value>
				<value>
					crjd/model/admin/system/systemlog/SystemLog.hbm.xml
				</value>
				<value>
					crjd/model/admin/system/role/RoleInfo.hbm.xml
				</value>
				<value>
					crjd/model/admin/system/menu/Menuinfo.hbm.xml
				</value>
				<value>
					crjd/model/admin/system/menupop/MenuPope.hbm.xml
				</value>
				<value>
					crjd/model/admin/system/role/RoleMenuPope.hbm.xml
				</value>
				<value>
					crjd/model/admin/system/userrole/UserRole.hbm.xml
				</value>
			
				<value>
					crjd/model/admin/information/country/CountryInfo.hbm.xml
				</value>
				<value>
					crjd/model/admin/sommanage/sommenu/SomMenu.hbm.xml
				</value>
				<value>
					crjd/model/admin/sommanage/sommenu/MenuAuthority.hbm.xml
				</value>
				<value>
					crjd/model/admin/sommanage/infomation/SomInfomation.hbm.xml
				</value>
				<value>
					crjd/model/admin/sommanage/teachers/SomTeacher.hbm.xml
				</value>
				<!--  
				<value>
					crjd/model/admin/sommanage/schoolfellow/Schoolfellow.hbm.xml
				</value>
				-->
				<value>
					crjd/model/admin/sommanage/leader/Leader.hbm.xml
				</value>
				<value>
					crjd/model/admin/sommanage/onLineBm/OnLineBm.hbm.xml
				</value>
				<value>
				    crjd/model/admin/sommanage/deanbox/DeanBox.hbm.xml
				</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.query.factory_class"><!--
					这是hibernate2.0的
					org.hibernate.hql.classic.ClassicQueryTranslatorFactory
				-->
				 org.hibernate.hql.ast.ASTQueryTranslatorFactory 
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.max_fetch_depth">2</prop>
				<prop key="hibernate.jdbc.fetch_size">100</prop>
				<prop key="hibernate.jdbc.batch_size">100</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<bean id="baseDAOImpl" class="crjd.hibernateUtils.BaseDAOImpl"
		singleton="true">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<bean id="baseDAO"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="target">
			<ref local="baseDAOImpl" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save">PROPAGATION_REQUIRED</prop>
				<prop key="update">PROPAGATION_REQUIRED</prop>
				<prop key="saveOrUpdate">PROPAGATION_REQUIRED</prop>
				<prop key="QueryUpdate">PROPAGATION_REQUIRED</prop>
				<prop key="delete">PROPAGATION_REQUIRED</prop>
				<prop key="find">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="load">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="get">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<bean id="baseDAOProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.hibernateUtils.BaseDAOI</value>
		</property>
		<property name="target">
			<ref local="baseDAO"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>

	<bean id="defultSearchImpl"
		class="crjd.hibernateUtils.DefultSearchImpl" singleton="true">
		<property name="sessionFactory">
			<ref local="sessionFactory"></ref>
		</property>
	</bean>

	<bean id="defultSearch"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="target">
			<ref local="defultSearchImpl" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="search">PROPAGATION_REQUIRED</prop>
				<prop key="query">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<bean id="defultSearchProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.hibernateUtils.DefultSearchI</value>
		</property>
		<property name="target">
			<ref local="defultSearch"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>

	<bean id="operationDisposeImpl"
		class="crjd.strutsUtils.OperationDisposeImpl">
		<property name="baseDAO">
			<ref local="baseDAOProxy"></ref>
		</property>
		<property name="defultSearch">
			<ref local="defultSearchProxy"></ref>
		</property>
	</bean>

	<bean id="operationDisposeI"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.strutsUtils.OperationDisposeI</value>
		</property>
		<property name="target">
			<ref local="operationDisposeImpl"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>

	<bean id="myBeforeAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="myBeforeAdvice" />
		</property>
		<property name="patterns">
			<list>
				<value>.*distribute*.*</value>
			</list>
		</property>
	</bean>

	<bean id="myAfterAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="myAfterAdvice" />
		</property>
		<property name="patterns">
			<list>
				<value>.*distribute*.*</value>
			</list>
		</property>
	</bean>

	<bean id="myThrowsAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="myThrowsAdvice" />
		</property>
		<property name="patterns">
			<list>
				<value>.*distribute*.*</value>
			</list>
		</property>
	</bean>

	<bean id="myAroundAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="myAroundAdvice" />
		</property>
		<property name="patterns">
			<list>
				<value>.*distribute*.*</value>
			</list>
		</property>
	</bean>

	<bean id="myBeforeAdvice"
		class="crjd.springUtils.advice.MyBeforeAdvice">
	</bean>

	<bean id="myAfterAdvice"
		class="crjd.springUtils.advice.MyAfterAdvice">
		<property name="baseDAO">
			<ref local="baseDAOProxy"></ref>
		</property>
	</bean>

	<bean id="myThrowsAdvice"
		class="crjd.springUtils.advice.MyThrowsAdvice">
	</bean>

	<bean id="myAroundAdvice"
		class="crjd.springUtils.advice.MyAroundAdvice">
	</bean>
	
	<!-- jdbc start -->
	<bean id="queryDAOJDBCImpl" class="crjd.hibernateUtils.QueryDAOJDBCImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory"></ref>
		</property>
	</bean>
    <!-- jdbc end -->

	<!--=======UserInfo start=======-->
	<bean id="userInfoUtil"
		class="crjd.model.admin.system.user.UserInfoUtil">
		<property name="operationDisposalI">
			<ref local="operationDisposeI"></ref>
		</property>
	</bean>

	<bean id="userInfoUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.strutsUtils.OperationObjectI</value>
		</property>
		<property name="target">
			<ref local="userInfoUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>

	<bean name="/userInfoAction"
		class="crjd.model.admin.system.user.UserInfoAction"
		singleton="false">
		<property name="operationObjectI">
			<ref local="userInfoUtilProxy"></ref>
		</property>
	</bean>
	<!--=======UserInfo end=======-->


	<!--=======Department start=======-->
	<bean id="departmentUtil"
		class="crjd.model.admin.system.department.DepartmentUtil">
		<property name="operationDisposalI">
			<ref local="operationDisposeI"></ref>
		</property>
	</bean>

	<bean id="departmentUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.strutsUtils.OperationObjectI</value>
		</property>
		<property name="target">
			<ref local="departmentUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>

	<bean name="/departmentAction"
		class="crjd.model.admin.system.department.DepartmentAction"
		singleton="false">
		<property name="operationObjectI">
			<ref local="departmentUtilProxy"></ref>
		</property>
	</bean>
	<!--=======UserInfo end=======-->


	<!--=======SystemLog start=======-->
	<bean id="systemLogUtil"
		class="crjd.model.admin.system.systemlog.SystemLogUtil">
		<property name="operationDisposalI">
			<ref local="operationDisposeI"></ref>
		</property>
	</bean>

	<bean id="systemLogUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.strutsUtils.OperationObjectI</value>
		</property>
		<property name="target">
			<ref local="systemLogUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>

	<bean name="/systemLogAction"
		class="crjd.model.admin.system.systemlog.SystemLogAction"
		singleton="false">
		<property name="operationObjectI">
			<ref local="systemLogUtilProxy"></ref>
		</property>
	</bean>
	<!--=======SystemLog end=======-->


	<!--=======Login start=======-->
	<bean id="login" class="crjd.model.admin.system.login.Login">
		<property name="operationDisposalI">
			<ref local="operationDisposeI"></ref>
		</property>
	</bean>

	<bean name="/loginAction"
		class="crjd.model.admin.system.login.LoginAction" singleton="false">
		<property name="login">
			<ref local="login"></ref>
		</property>
	</bean>
	<!--=======Login end=======-->


	<!--=======role start zychen=======-->
	<bean id="roleInfoUtil"
		class="crjd.model.admin.system.role.RoleInfoUtil">
		<property name="operationDisposalI">
			<ref local="operationDisposeI"></ref>
		</property>
	</bean>

	<bean id="roleInfoUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.strutsUtils.OperationObjectI</value>
		</property>
		<property name="target">
			<ref local="roleInfoUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>

	<bean name="/roleInfoAction"
		class="crjd.model.admin.system.role.RoleInfoAction"
		singleton="false">
		<property name="operationObjectI">
			<ref local="roleInfoUtilProxy"></ref>
		</property>
	</bean>
	<!--=======role end =======-->


	<!--=======menu start zychen=======-->
	<bean id="menuUtil" class="crjd.model.admin.system.menu.MenuUtil">
		<property name="operationDisposalI">
			<ref local="operationDisposeI"></ref>
		</property>
	</bean>

	<bean id="menuUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.strutsUtils.OperationObjectI</value>
		</property>
		<property name="target">
			<ref local="menuUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>

	<bean name="/menuAction"
		class="crjd.model.admin.system.menu.MenuAction" singleton="false">
		<property name="operationObjectI">
			<ref local="menuUtilProxy"></ref>
		</property>
	</bean>
	<!--=======menu end =======-->


	<!-- menuList begin-->
	<bean id="muneList" name="muneList"
		class="crjd.model.admin.system.menu.MuneList" singleton="false">
		<property name="sessionFactory">
			<ref local="sessionFactory"></ref>
		</property>
	</bean>

	<bean name="/menuListAction"
		class="crjd.model.admin.system.menu.MenuListAction"
		singleton="false">
		<property name="muneList">
			<ref local="muneList"></ref>
		</property>
	</bean>
	<!-- menuList end-->


	<!-- Rolemenu begin-->
	<bean id="roleMenu" name="roleMenu"
		class="crjd.model.admin.system.role.RoleMenu" singleton="false">
		<property name="sessionFactory">
			<ref local="sessionFactory"></ref>
		</property>
		<property name="baseDAO">
			<ref local="baseDAO"></ref>
		</property>
	</bean>

	<bean name="/roleMenuAction"
		class="crjd.model.admin.system.role.RoleMenuAction"
		singleton="false">
		<property name="roleMenu">
			<ref local="roleMenu"></ref>
		</property>
	</bean>
	<!-- Rolemenu end-->


	<!--  MENUPOPe begin-->
	<bean id="menuPopeUtil"
		class="crjd.model.admin.system.menupop.MenuPopeUtil">
		<property name="operationDisposalI">
			<ref local="operationDisposeI"></ref>
		</property>
	</bean>

	<bean id="menuPopeUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.strutsUtils.OperationObjectI</value>
		</property>
		<property name="target">
			<ref local="menuPopeUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>

	<bean name="/menuPopeAction"
		class="crjd.model.admin.system.menupop.MenuPopeAction"
		singleton="false">
		<property name="operationObjectI">
			<ref local="menuPopeUtilProxy"></ref>
		</property>
	</bean>
	<!-- MENUPOPe end -->


	<!-- UserRole begin-->
	<bean id="userRoleOp" name="userRoleOp"
		class="crjd.model.admin.system.userrole.UserRoleOp"
		singleton="false">
		<property name="sessionFactory">
			<ref local="sessionFactory"></ref>
		</property>
		<property name="baseDAO">
			<ref local="baseDAO"></ref>
		</property>
	</bean>

	<bean name="/userRoleAction"
		class="crjd.model.admin.system.userrole.UserRoleAction"
		singleton="false">
		<property name="userRoleOp">
			<ref local="userRoleOp"></ref>
		</property>
	</bean>
	<!--====================== UserRole end =============================-->

	<bean id="insertTpXwID"
		class="crjd.model.admin.sommanage.infomation.InsertTPXW">
		<property name="sessionFactory">
			<ref local="sessionFactory"></ref>
		</property>
	</bean>

</beans>
