<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//E N"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 前台新闻阅读　李永祥　2009.06.24  start -->
	<bean id="somInfomationUtil"
		class="crjd.model.admin.sommanage.infomation.SomInfomationUtil">
		<property name="operationDisposalI">
			<ref bean="operationDisposeI"></ref>
		</property>
	</bean>
	<bean id="somInfomationUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target">
			<ref bean="somInfomationUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>
	<bean name="/infomationAction"
		class="crjd.model.somweb.infomation.InfomationAction"
		singleton="false">
		<property name="operationObjectI">
			<ref bean="somInfomationUtilProxy"></ref>
		</property>
	</bean>
	<!-- 前台新闻阅读　李永祥　2009.06.24  end -->
	<!-- 前台杰出校友　李永祥　2009.06.01 start -->
	
	<bean id="shoolfellowUtil"
		class="crjd.model.admin.sommanage.schoolfellow.SchoolfellowUtil">
		<property name="operationDisposalI">
			<ref bean="operationDisposeI"></ref>
		</property>
	</bean>
	<bean id="shoolfellowUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.strutsUtils.OperationObjectI</value>
		</property>
		<property name="target">
			<ref bean="shoolfellowUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>
	<bean name="/schoolfellowAppAction"
		class="crjd.model.somweb.infomation.SchoolfellowAppAction"
		singleton="false">
		<property name="operationObjectI">
			<ref bean="shoolfellowUtilProxy"></ref>
		</property>
	</bean>
	<!-- 杰出校友　李永祥　2009.07.01 end -->
	
	<!-- 导师风采模块 李永祥　2009.07.02  start -->
		
	<bean id="somTeacherUtil"
		class="crjd.model.admin.sommanage.teachers.SomTeacherUtil">
		<property name="operationDisposalI">
			<ref bean="operationDisposeI"></ref>
		</property>
	</bean>
	<bean id="somTeacherUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target">
			<ref bean="somTeacherUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>
	<bean name="/teacherAction"
		class="crjd.model.somweb.infomation.TeacherActionApp"
		singleton="false">
		<property name="operationObjectI">
			<ref bean="somTeacherUtilProxy"></ref>
		</property>
	</bean>
	<!--  导师风采模块　李永祥　李永祥　2009.07.02  end -->
	<!-- 学院领导　李永祥　2009.06.30 start -->
	<bean id="leaderUtil"
		class="crjd.model.admin.sommanage.leader.LeaderUtil">
		<property name="operationDisposalI">
			<ref bean="operationDisposeI"></ref>
		</property>
	</bean>
	<bean id="leaderUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.strutsUtils.OperationObjectI</value>
		</property>
		<property name="target">
			<ref bean="leaderUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>
	<bean name="/leaderActionApp"
		class="crjd.model.somweb.infomation.LeaderActionApp"
		singleton="false">
		<property name="operationObjectI">
			<ref bean="leaderUtilProxy"></ref>
		</property>
	</bean>
	<!-- 学院领导　李永祥　2009.06.30 end -->
	
	<!--=======首页信息　王强　2009.06.29 start=======-->
	<bean id="ssomInfomationUtil"
		class="crjd.model.somweb.infomation.SomInfomationUtil">
		<property name="operationDisposalI">
			<ref bean="operationDisposeI"></ref>
		</property>
	</bean>
	<bean id="ssomInfomationUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.strutsUtils.OperationObjectI</value>
		</property>
		<property name="target">
			<ref bean="ssomInfomationUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>
	<bean name="/somInfomationActionapp"
		class="crjd.model.somweb.infomation.SomInfomationActionapp"
		singleton="false">
		<property name="operationObjectI">
			<ref bean="ssomInfomationUtilProxy"></ref>
		</property>
	</bean>
	<!--=======首页信息　王强　2009.06.29 end=======-->
	<!-- 在线报名　李永祥　2009.09.16 start -->
	<bean id="onLineBmUtil"
		class="crjd.model.admin.sommanage.onLineBm.OnLineBmUtil">
		<property name="operationDisposalI">
			<ref bean="operationDisposeI"></ref>
		</property>
	</bean>
	<bean id="onLineBmUtilProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>crjd.strutsUtils.OperationObjectI</value>
		</property>
		<property name="target">
			<ref bean="onLineBmUtil"></ref>
		</property>
		<property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	</bean>
	<bean name="/onLineBmActionApp"
		class="crjd.model.somweb.infomation.OnLineBmActionApp"
		singleton="false">
		<property name="operationObjectI">
			<ref bean="onLineBmUtilProxy"></ref>
		</property>
	</bean>
	<!-- 在线报名　李永祥　2009.09.16 end -->
	
	<!-- 前台院长信箱管理 hw 2009.09.16 -->
	 <bean name="/webDeanBoxAction" class="crjd.model.somweb.deanBox.DeanBoxAction">
	 <property name="operationObjectI">
	     <ref  bean="webDeanBoxUtilProxy"/>
	   </property>
	 </bean>
	<bean name="webDeanBoxUtilProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
	    <property name="target">
	      <ref bean="webDeanBoxUtil"/>
	    </property>
	    <property name="interceptorNames">
			<list>
				<value>myBeforeAdvisor</value>
				<value>myAfterAdvisor</value>
				<value>myThrowsAdvisor</value>
			</list>
		</property>
	 </bean>
	 <bean name="webDeanBoxUtil" class="crjd.model.somweb.deanBox.DeanBoxUtil">
	 <property name="operationDisposalI">
			<ref bean="operationDisposeI"></ref>
		</property>
	 </bean>
	 <!-- 前台院长信箱管理 hw 2009.09.16 -->
</beans>